<div class="banner-setting-wrapper">
  <mat-card>
    <form [formGroup]="fg1">
      <div class="use-select-check">
        <mat-checkbox
          formControlName="useThisPattern"
          (change)="checkUsePattern()"
          class="example-margin">Pattern1 を使用する
        </mat-checkbox>
      </div>
      <div class="banner-setting-area">
        <div class="date-range">
          <mat-form-field appearance="fill">
            <mat-label>Pattern1 公開期間</mat-label>
            <mat-date-range-input [rangePicker]="picker">
              <input matStartDate placeholder="開始日" formControlName="beginDate" [readonly]="isNotUse">
              <input matEndDate placeholder="終了日" formControlName="endDate" [readonly]="isNotUse">
            </mat-date-range-input>
            <mat-hint>YYYY-MM-DD – YYYY-MM-DD</mat-hint>
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker [disabled]="isNotUse"></mat-date-range-picker>
          </mat-form-field>
        </div>
        <div class="use-banner-detail">
          <div class="use-banner-detail-img-area half-table-cell">
            <mat-form-field class="example-full-width" appearance="fill" [ngClass]="{'isDisabled': isNotUse}">
              <mat-label>画像ファイル名</mat-label>
              <input type="text"
                     matInput formControlName="imgSrcList"
                     [readonly]="isNotUse"
                     placeholder="対象バナーの画像ファイル名">
              <mat-hint>imgディレクトリから新規ディレクトリを切って管理を行う場合は、`[ディレクトリ名]/画像ファイル名(拡張子つき）としてください</mat-hint>
            </mat-form-field>
            <div class="img-drop-area" [ngClass]="{'isDisabled': isNotUse}">
              Drop or Click Here
              <input class="img-drop-area-input"
                     formControlName="dropImage1"
                     [type]="isNotUse ? 'none' : 'file'"
                     #fileInput
                     [disabled]="isNotUse"
                     [readonly]="isNotUse"
                     [ngClass]="{'isDisabled': isNotUse}"
                     (change)="onFileSelect($event)">
            </div>
          </div>
          <div class="half-table-cell">
            <mat-form-field appearance="fill" [ngClass]="{'isDisabled': isNotUse}">
              <mat-label>遷移先URL</mat-label>
              <input type="text"
                     [readonly]="isNotUse"
                     matInput
                     formControlName="imgTransitionDestinationList"
                     placeholder="対象バナーの遷移先URL">
              <mat-hint>対象バナーを押下した際の遷移先URLを記述してください。</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="img-verification-area">
        <p>選択画像の検証<span>画像をDropした時のみご利用出来ます</span></p>
        <dl>
          <dt>画像サイズ</dt>
          <dd *ngIf="!isImgUploaded; else initial"></dd>
          <ng-template #initial>
            <dd>Width：{{uploadImgWidth}}px Height: {{uploadImgHeight}}px</dd>
          </ng-template>
        </dl>
        <dl>
          <dt>アスペクト比</dt>
          <dd>{{aspectRatio}}</dd>
        </dl>
        <dl>
          <dt>ヒント</dt>
          <dd *ngIf="imgErrorMessageList.length === 0 && uploadImgWidth > 0; else error">適切な画像サイズです。</dd>
          <ng-template #error>
            <dd>
              <span *ngFor="let errorMsg of imgErrorMessageList;">
                {{errorMsg}}
              </span>
            </dd>
          </ng-template>
          <dd *ngIf="!isImgUploaded"></dd>
        </dl>
      </div>
      <div class="submit-area">
        <button mat-raised-button color="primary" [disabled]="fg1.invalid" (click)="saveThisBannerSetting()">設定する</button>
      </div>
    </form>
  </mat-card>
</div>
