<div class="banner-setting-wrapper">
  <mat-card>
    <form [formGroup]="fg4">
      <div class="use-select-check">
        <mat-checkbox
          formControlName="useThisPattern"
          (change)="checkUsePattern()"
          class="example-margin">Pattern4 を使用する
        </mat-checkbox>
      </div>
      <div class="banner-setting-area">
        <div class="date-time-setting-area">
          <div class="date-range">
            <mat-form-field appearance="fill">
              <mat-label>Pattern2 公開期間</mat-label>
              <mat-date-range-input [rangePicker]="picker">
                <input matStartDate placeholder="開始日" formControlName="beginDate" [readonly]="isNotUse">
                <input matEndDate placeholder="終了日" formControlName="endDate" [readonly]="isNotUse">
              </mat-date-range-input>
              <mat-hint>YYYY-MM-DD – YYYY-MM-DD</mat-hint>
              <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-date-range-picker #picker [disabled]="isNotUse"></mat-date-range-picker>
            </mat-form-field>
          </div>
          <mat-form-field appearance="fill" [ngClass]="{'isDisabled': isNotUse}" class="time-select">
            <mat-label>公開開始時間</mat-label>
            <mat-select [disabled]="isNotUse" formControlName="beginHour">
              <mat-option *ngFor="let hour of hourList;" [value]="hour">{{hour}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" [ngClass]="{'isDisabled': isNotUse}" class="time-select">
            <mat-label>公開開始分</mat-label>
            <mat-select [disabled]="isNotUse" formControlName="beginMin">
              <mat-option *ngFor="let min of minValueList;" [value]="min">{{min}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" [ngClass]="{'isDisabled': isNotUse}" class="time-select">
            <mat-label>公開終了時間</mat-label>
            <mat-select [disabled]="isNotUse" formControlName="endHour">
              <mat-option *ngFor="let hour of hourList;" [value]="hour">{{hour}}</mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field appearance="fill" [ngClass]="{'isDisabled': isNotUse}" class="time-select">
            <mat-label>公開終了分</mat-label>
            <mat-select [disabled]="isNotUse" formControlName="endMin">
              <mat-option *ngFor="let min of minValueList;" [value]="min">{{min}}</mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="use-banner-detail">
          <div class="use-banner-detail-img-area half-table-cell">
            <mat-form-field class="example-full-width" appearance="fill" [ngClass]="{'isDisabled': isNotUse}">
              <mat-label>画像1ファイル名</mat-label>
              <input type="text"
                     matInput formControlName="imgSrc1"
                     [readonly]="isNotUse"
                     placeholder="対象バナー1の画像ファイル名">
              <mat-hint>imgディレクトリから新規ディレクトリを切って管理を行う場合は、`[ディレクトリ名]/画像ファイル名(拡張子つき）としてください</mat-hint>
            </mat-form-field>
          </div>
          <div class="half-table-cell">
            <mat-form-field appearance="fill" [ngClass]="{'isDisabled': isNotUse}">
              <mat-label>遷移先1URL</mat-label>
              <input type="text"
                     [readonly]="isNotUse"
                     matInput
                     formControlName="imgTransitionDestination1"
                     placeholder="対象バナー1の遷移先URL">
              <mat-hint>対象バナーを押下した際の遷移先URLを記述してください。</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="bottom-half-area">
        <div class="img-drop-area" [ngClass]="{'isDisabled': isNotUse}">
          Drop or Click Here
          <input class="img-drop-area-input"
                 formControlName="dropImage1"
                 [type]="isNotUse ? 'none' : 'file'"
                 [readonly]="isNotUse"
                 [ngClass]="{'isDisabled': isNotUse}"
                 (change)="onFileSelect($event, 1)">
        </div>
        <div class="img-verification-area">
          <p>選択画像の検証<span>画像をDropした時のみご利用出来ます</span></p>
          <dl>
            <dt>画像サイズ</dt>
            <dd *ngIf="!isImgUploaded1; else initial"></dd>
            <ng-template #initial>
              <dd>Width：{{uploadImgWidth1}}px Height: {{uploadImgHeight1}}px</dd>
            </ng-template>
          </dl>
          <dl>
            <dt>アスペクト比</dt>
            <dd>{{aspectRatio1}}</dd>
          </dl>
          <dl>
            <dt>ヒント</dt>
            <dd *ngIf="!imgErrorMessageList1.length && isImgUploaded1">適切な画像サイズです。</dd>
            <dd *ngIf="imgErrorMessageList1.length && isImgUploaded1">
              <span *ngFor="let errorMsg of imgErrorMessageList1; let idx = index">
                <ng-container *ngIf="idx > 0"><br /></ng-container>
                {{idx + 1}}:{{errorMsg}}
              </span>
            </dd>
            <dd *ngIf="!isImgUploaded1"></dd>
          </dl>
        </div>
      </div>

      <div class="banner-setting-area">
        <div class="use-banner-detail">
          <div class="use-banner-detail-img-area half-table-cell">
            <mat-form-field class="example-full-width" appearance="fill" [ngClass]="{'isDisabled': isNotUse}">
              <mat-label>画像2ファイル名</mat-label>
              <input type="text"
                     matInput formControlName="imgSrc2"
                     [readonly]="isNotUse"
                     placeholder="対象バナー2の画像ファイル名">
              <mat-hint>imgディレクトリから新規ディレクトリを切って管理を行う場合は、`[ディレクトリ名]/画像ファイル名(拡張子つき）としてください</mat-hint>
            </mat-form-field>
          </div>
          <div class="half-table-cell">
            <mat-form-field appearance="fill" [ngClass]="{'isDisabled': isNotUse}">
              <mat-label>遷移先2URL</mat-label>
              <input type="text"
                     [readonly]="isNotUse"
                     matInput
                     formControlName="imgTransitionDestination2"
                     placeholder="対象バナー2の遷移先URL">
              <mat-hint>対象バナーを押下した際の遷移先URLを記述してください。</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="bottom-half-area">
        <div class="img-drop-area" [ngClass]="{'isDisabled': isNotUse}">
          Drop or Click Here
          <input class="img-drop-area-input"
                 formControlName="dropImage2"
                 [type]="isNotUse ? 'none' : 'file'"
                 [readonly]="isNotUse"
                 [ngClass]="{'isDisabled': isNotUse}"
                 (change)="onFileSelect($event, 2)">
        </div>
        <div class="img-verification-area">
          <p>選択画像の検証<span>画像をDropした時のみご利用出来ます</span></p>
          <dl>
            <dt>画像サイズ</dt>
            <dd *ngIf="!isImgUploaded2; else initial2"></dd>
            <ng-template #initial2>
              <dd>Width：{{uploadImgWidth2}}px Height: {{uploadImgHeight2}}px</dd>
            </ng-template>
          </dl>
          <dl>
            <dt>アスペクト比</dt>
            <dd>{{aspectRatio2}}</dd>
          </dl>
          <dl>
            <dt>ヒント</dt>
            <dd *ngIf="!imgErrorMessageList2.length && isImgUploaded2">適切な画像サイズです。</dd>
            <dd *ngIf="imgErrorMessageList2.length && isImgUploaded2">
              <span *ngFor="let errorMsg of imgErrorMessageList2; let idx = index">
                <ng-container *ngIf="idx > 0"><br /></ng-container>
                {{idx + 1}}:{{errorMsg}}
              </span>
            </dd>
            <dd *ngIf="!isImgUploaded2"></dd>
          </dl>
        </div>
      </div>

      <div class="banner-setting-area">
        <div class="use-banner-detail">
          <div class="use-banner-detail-img-area half-table-cell">
            <mat-form-field class="example-full-width" appearance="fill" [ngClass]="{'isDisabled': isNotUse}">
              <mat-label>画像3ファイル名</mat-label>
              <input type="text"
                     matInput formControlName="imgSrc3"
                     [readonly]="isNotUse"
                     placeholder="対象バナー3の画像ファイル名">
              <mat-hint>imgディレクトリから新規ディレクトリを切って管理を行う場合は、`[ディレクトリ名]/画像ファイル名(拡張子つき）`としてください</mat-hint>
            </mat-form-field>
          </div>
          <div class="half-table-cell">
            <mat-form-field appearance="fill" [ngClass]="{'isDisabled': isNotUse}">
              <mat-label>遷移先3URL</mat-label>
              <input type="text"
                     [readonly]="isNotUse"
                     matInput
                     formControlName="imgTransitionDestination3"
                     placeholder="対象バナー2の遷移先URL">
              <mat-hint>対象バナーを押下した際の遷移先URLを記述してください。</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="bottom-half-area">
        <div class="img-drop-area" [ngClass]="{'isDisabled': isNotUse}">
          Drop or Click Here
          <input class="img-drop-area-input"
                 formControlName="dropImage3"
                 [type]="isNotUse ? 'none' : 'file'"
                 [readonly]="isNotUse"
                 [ngClass]="{'isDisabled': isNotUse}"
                 (change)="onFileSelect($event, 3)">
        </div>
        <div class="img-verification-area">
          <p>選択画像の検証<span>画像をDropした時のみご利用出来ます</span></p>
          <dl>
            <dt>画像サイズ</dt>
            <dd *ngIf="!isImgUploaded3; else initial3"></dd>
            <ng-template #initial3>
              <dd>Width：{{uploadImgWidth3}}px Height: {{uploadImgHeight3}}px</dd>
            </ng-template>
          </dl>
          <dl>
            <dt>アスペクト比</dt>
            <dd>{{aspectRatio3}}</dd>
          </dl>
          <dl>
            <dt>ヒント</dt>
            <dd *ngIf="!imgErrorMessageList3.length && isImgUploaded3">適切な画像サイズです。</dd>
            <dd *ngIf="imgErrorMessageList3.length && isImgUploaded3">
              <span *ngFor="let errorMsg of imgErrorMessageList3; let idx = index">
                <ng-container *ngIf="idx > 0"><br /></ng-container>
                {{idx + 1}}:{{errorMsg}}
              </span>
            </dd>
            <dd *ngIf="!isImgUploaded3"></dd>
          </dl>
        </div>
      </div>

      <div class="banner-setting-area">
        <div class="use-banner-detail">
          <div class="use-banner-detail-img-area half-table-cell">
            <mat-form-field class="example-full-width" appearance="fill" [ngClass]="{'isDisabled': isNotUse}">
              <mat-label>画像4ファイル名</mat-label>
              <input type="text"
                     matInput formControlName="imgSrc4"
                     [readonly]="isNotUse"
                     placeholder="対象バナー3の画像ファイル名">
              <mat-hint>imgディレクトリから新規ディレクトリを切って管理を行う場合は、`[ディレクトリ名]/画像ファイル名(拡張子つき）`としてください</mat-hint>
            </mat-form-field>
          </div>
          <div class="half-table-cell">
            <mat-form-field appearance="fill" [ngClass]="{'isDisabled': isNotUse}">
              <mat-label>遷移先4URL</mat-label>
              <input type="text"
                     [readonly]="isNotUse"
                     matInput
                     formControlName="imgTransitionDestination4"
                     placeholder="対象バナー4の遷移先URL">
              <mat-hint>対象バナーを押下した際の遷移先URLを記述してください。</mat-hint>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="bottom-half-area">
        <div class="img-drop-area" [ngClass]="{'isDisabled': isNotUse}">
          Drop or Click Here
          <input class="img-drop-area-input"
                 formControlName="dropImage4"
                 [type]="isNotUse ? 'none' : 'file'"
                 [readonly]="isNotUse"
                 [ngClass]="{'isDisabled': isNotUse}"
                 (change)="onFileSelect($event, 4)">
        </div>
        <div class="img-verification-area">
          <p>選択画像の検証<span>画像をDropした時のみご利用出来ます</span></p>
          <dl>
            <dt>画像サイズ</dt>
            <dd *ngIf="!isImgUploaded4; else initial4"></dd>
            <ng-template #initial4>
              <dd>Width：{{uploadImgWidth4}}px Height: {{uploadImgHeight4}}px</dd>
            </ng-template>
          </dl>
          <dl>
            <dt>アスペクト比</dt>
            <dd>{{aspectRatio4}}</dd>
          </dl>
          <dl>
            <dt>ヒント</dt>
            <dd *ngIf="!imgErrorMessageList4.length && isImgUploaded4">適切な画像サイズです。</dd>
            <dd *ngIf="imgErrorMessageList4.length && isImgUploaded4">
              <span *ngFor="let errorMsg of imgErrorMessageList4; let idx = index">
                <ng-container *ngIf="idx > 0"><br /></ng-container>
                {{idx + 1}}:{{errorMsg}}
              </span>
            </dd>
            <dd *ngIf="!isImgUploaded4"></dd>
          </dl>
        </div>
      </div>

      <div class="submit-area">
        <button *ngIf="!hasSettingData" mat-raised-button color="primary" [disabled]="fg4.invalid" (click)="saveThisBannerSetting()">設定する</button>
        <button *ngIf="hasSettingData" mat-raised-button color="accent" [disabled]="fg4.invalid" (click)="saveThisBannerSetting()">設定を更新する</button>
      </div>
    </form>
  </mat-card>
</div>
