<div class="setting-generate-wrapper">
  <app-section-title [pattern]="pattern.pt1"></app-section-title>
  <app-banner-setting-1></app-banner-setting-1>
  <div class="pattern-margin"></div>
  <app-section-title [pattern]="pattern.pt2"></app-section-title>
  <app-banner-setting-2></app-banner-setting-2>
  <div class="pattern-margin"></div>
  <app-section-title [pattern]="pattern.pt3"></app-section-title>
  <app-banner-setting-3></app-banner-setting-3>
  <div class="pattern-margin"></div>
  <app-section-title [pattern]="pattern.pt4"></app-section-title>
  <app-banner-setting-4></app-banner-setting-4>
<!--  <app-section-title [pattern]="pattern.pt2"></app-section-title>-->
<!--  <app-banner-setting [pattern]="pattern.pt2"></app-banner-setting>-->
<!--  <div class="pattern-margin"></div>-->
<!--  <app-section-title [pattern]="pattern.pt3"></app-section-title>-->
<!--  <app-banner-setting [pattern]="pattern.pt3"></app-banner-setting>-->
<!--  <div class="pattern-margin"></div>-->
<!--  <app-section-title [pattern]="pattern.pt4"></app-section-title>-->
<!--  <app-banner-setting [pattern]="pattern.pt4"></app-banner-setting>-->
<!--  <div class="pattern-margin"></div>-->
<!--  <app-section-title [pattern]="pattern.pt5"></app-section-title>-->
<!--  <app-banner-setting [pattern]="pattern.pt5"></app-banner-setting>-->
</div>
